{% load app_tags %}
{% load user_tags %}

<section id="detail-notes-section" class="mb-8" {% if notes_section_oob %}hx-swap-oob="outerHTML"{% endif %}>
  <div class="mb-4 flex items-center gap-2">
    <h2 class="text-xl font-bold">{% if public_notes_view|default:False %}Notes{% else %}Your Notes{% endif %}</h2>
  </div>

  {% for entry in notes_entries %}
    {% with notes_modal_id=entry.id|stringformat:"s"|add:"-notes" notes_content_id=entry.id|stringformat:"s"|add:"-notes-content" %}
      {{ entry.notes|json_script:notes_content_id }}
      {% if detail_notes_target_id %}
        {% with notes_modal_target_id=detail_notes_target_id|add:"-"|add:entry.id %}
          {% include "app/components/detail_notes_block.html" with entry=entry notes_modal_target_id=notes_modal_target_id %}
        {% endwith %}
      {% else %}
        {% component_id 'track' media notes_modal_id as notes_modal_target_id %}
        {% include "app/components/detail_notes_block.html" with entry=entry notes_modal_target_id=notes_modal_target_id %}
      {% endif %}
    {% endwith %}
  {% empty %}
    {% if notes_entry %}
      {% with notes_modal_id=notes_entry.id|stringformat:"s"|add:"-notes" notes_content_id=notes_entry.id|stringformat:"s"|add:"-notes-content" %}
        {{ notes_entry.notes|json_script:notes_content_id }}
        {% if detail_notes_target_id %}
          {% with notes_modal_target_id=detail_notes_target_id %}
            {% include "app/components/detail_notes_block.html" with entry=notes_entry notes_modal_target_id=notes_modal_target_id %}
          {% endwith %}
        {% else %}
          {% component_id 'track' media notes_modal_id as notes_modal_target_id %}
          {% include "app/components/detail_notes_block.html" with entry=notes_entry notes_modal_target_id=notes_modal_target_id %}
        {% endif %}
      {% endwith %}
    {% endif %}
  {% endfor %}
</section>
